@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opsional: Scrollbar custom agar lebih rapi */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #18181c;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4f46e5;
  border-radius: 10px;
}